html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.428571429;
  color: #333333;
}

#chart-container {
  display: inline-block;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: auto;

}
.o_org_chart_title.mb16.mt0 {

    color: #4661ae;
    border-block-color: blue;
    margin-top: 39px !important;
    font-size: 22px;

}


.orgchart td.left, .orgchart td.right, .orgchart td.top { border-color: #aaa; }
.orgchart td>.down { background-color: #aaa; }
.orgchart .middle-level .title { background-color: #e3e3e3; }
.orgchart .middle-level .content { border-color: #e3e3e3; }
.orgchart .product-dept .title { background-color: #e3e3e3; }
.orgchart .product-dept .content { border-color: #e3e3e3; }
.orgchart .rd-dept .title { background-color: #e3e3e3; }
.orgchart .rd-dept .content { border-color: #e3e3e3; }
.orgchart .pipeline1 .title { background-color: #e3e3e3; }
.orgchart .pipeline1 .content { border-color: #e3e3e3; }
.orgchart .frontend1 .title { background-color: #e3e3e3; }
.orgchart .frontend1 .content { border-color: #e3e3e3; }
