.o_chart_head {
  text-align: center;
}
.o_chart_head img {
  width: 68px;
  border: 3px solid #777;
  border-radius: 100%;
}
.o_child_container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
.o_level_1 img {
  width: 68px;
  border: 3px solid #777;
  border-radius: 100%;
}
.o_level_1 {
  margin: 15px;
  min-width: 100px;
}

.empchart table {
  border-spacing: 0;
  border-collapse: separate;
}

.empchart td {
  text-align: center;
  padding: 0;
  vertical-align: top;
}

.empchart .lines:nth-child(3) td {
  height: 20px;
  box-sizing: border-box;
}

.empchart .lines .leftLine {
  border-left: 1px solid rgb(89, 87, 87);
  float: none;
  border-radius: 0;
}

.empchart .lines .topLine {
  border-top: 2px solid rgb(89, 87, 87);
}

.empchart .lines .downLine {
  background-color: rgb(89, 87, 87);
  float: none;
  margin: 0 auto;
  width: 2px;
  height: 20px;
}

.empchart .lines .rightLine {
  border-right: 1px solid rgb(89, 87, 87);
  float: none;
  border-radius: 0;
}

.employee_name p:nth-child(1) {
    font-weight: 600;
    margin-bottom: -2px;
    margin-top: 7px;
}
#o_organizational_chart .o_org_chart_title.mb16.mt0 {
    background-color: darkgray;
    padding: 17px;
}